@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Sanpham>
@foreach(var item in Model)
{
    <div class="pro">
        <img src="@Url.Content("../PhoneImage/"+item.Anh)" alt="">
        <div class="des">
            <span>@item.MaThuongHieuNavigation.Ten</span>
            <h5>@item.Ten</h5>
            <div class="star">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            @* <h4>@item.Ctsanphams.FirstOrDefault()?.GiaBan VNĐ</h4> *@
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart-btn"></i></a>
    </div>
}

<section id="pagination" class="section-p1">
    @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
</section>

